:root {
    --font-main: "Yu Gothic", sans-serif;
}

body {
    font-family: var(--font-main);
    background-color: #f9f9f9;
    margin: 0;
}

/* ヘッダー */
header {
    background-color: #f9f9f9;
    color: #333;
    padding: 10px 20px;
}

.site-title {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0 0 10px 0;
    font-size: 1em;
    padding: 10px 0;
}

h2 {
    margin: 20px 0 5px 0;
    font-size: 0.8em;
}

/* ナビゲーション */
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

/* main セクション */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 60px;
    line-height: 1.4;
    font-size: 0.9em;
}

p {
    margin: 5px 0;
}

ul {
    margin: 5px 0 10px 20px;
    list-style: none;
}

ul li {
    margin-bottom: 5px;
}

/* フッター */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
    padding: 10px 0;
}
